#lobbyBack{
    width: 100%;
    height: 100%;
    position: absolute;
}

#lobby{
    margin: 50px auto;
    min-width: 280px;
    width: 60%;
    height: 80%;
    position: relative;
}

#lobbyHead{
    width: 100%;
    height: 30px;
}

#lobbyHead > div{
    width: 33.33%;
    cursor: pointer;
    float: left;
    text-align: center;
    cursor: pointer;
}

/* #lobbyHead > div:nth-child(1){
    float: right;
}

#lobbyHead > div:nth-child(3){
    float: left;
    margin-top: -10px;
} */

#matchingBot{
    margin : 0px auto;
    height: 25px;
}

#matchingBot input[type=button]{
    cursor: pointer;
    margin: 0px auto;
    width: 100%;
    max-width: 200px;
    height: 30px;
    border-radius: 5px;
    display: block;
    background-color: rgb(57, 57, 57);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    
}


#profileBox{
    margin: 50px auto 20px;
    min-width: 280px;
    width: 60%;
    height: 25%;
    background-color: rgb(57, 57, 57);
    color: rgb(224, 224, 224);
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.5);
}

#profileBox > div{
    width: 100%;
    height: 50%;
    float: left;
    font-weight: bold;
    text-align: center;
    background-color: rgb(57, 57, 57);
    border-radius: 25px;
    transition: all 0.2s;
}

#profileOver > div{
    width: 50%;
    height: 100%;
    float: left;
}

#profileDetail{
    padding-top: 25px;
    font-size: 120%;
}

#profileUnder{
    margin-bottom: 30px;
    overflow: hidden;
}

#profileUnder input[type=button]{
    margin: 5%;
    width: 40%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 10px;
    color: rgb(206, 206, 206);
    background-color: rgb(57, 57, 57);
    cursor: pointer;
}

#createRoom{
    margin-top: 0px;
    width: 100%;
    height: 80px;
}

#createRoom input[type=text]{
    margin-top: 30px;
    margin-left: 12px;
    width: 55%;
    height: 25px;
    display: block;
    border: 2px solid rgb(206, 206, 206);
    background-color: rgb(57, 57, 57);
    border-radius: 5px;
    color: rgb(206, 206, 206);
    text-indent: 5px;
}

#createRoom input[type=button]{
    margin: -40px 10px;
    width: 30%;
    display: block;
    float: right;
}

#levelsBar{
    margin: 20px 0px;
    width : 90%;
    height: 40%;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    position: relative;
}

.levelStep{
    margin: 5px 0px 5px 5px;
    width: 7%;
    height: 80%;
    border-radius: 5px;
    background-color: rgb(57, 57, 57);
    float: left;
}

#roomList{
    margin: 0px auto;
    min-width: 280px;
    width: 60%;
    height: 50%;
    overflow-y: auto;
    position: relative;
    border-radius: 25px;
}

#roomList::-webkit-scrollbar{
    display: none;
}

.chessRoom{
    margin: 10px auto;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    background-color: rgb(57, 57, 57);
}

.chessRoom > div{
    cursor: pointer;
}

.roomCheck{
    margin: 8px;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background-color: rgb(224, 224, 224);
    float: left;
}

.checkSign{
    width: 25px;
    height: 25px;
    margin: 5px auto;
    background-color: rgb(57, 57, 57);
    border-radius: 15px;
}

.roomName{
    width: 62%;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    line-height: 55px;
    text-indent: 10px;
    color: rgb(224, 224, 224);
    float: left;
}

.roomButton{
    margin: 8px;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background-image: url(../imgs/roomcheck.png);
    background-size: 100%;
    transition: all 0.2s;
    float: right;
}

.roomButton:hover{
    transform: rotate(-90deg);
}

#chessChat{
    bottom: 0px;
    min-width: 280px;
    width: 60%;
    height: 180px;
    border-radius: 10px;
    background-color: rgb(57, 57, 57);
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.5);
    position: absolute;
    transition: all 0.2s;
}

#sizeSwitch{
    margin: 5px auto;
    width: 30px;
    height: 20px;
    background : url(../imgs/chatSwitch.png);
    background-size: 30px 20px;
    cursor: pointer;
}


@media screen and (min-width: 500px) {
    #chessChat{
        left: 3.5%;
    }
}

@media screen and (min-width: 520px) {
    #chessChat{
        left: 12%;
    }
}

@media screen and (min-width: 600px) {
    #chessChat{
        left: 12.5%;
    }
}

@media screen and (min-width: 620px) {
    #chessChat{
        left: 15%;
    }
}

@media screen and (min-width: 672px) {
    #chessChat{
        left: 20%;
    }
}

@media screen and (min-width: 745px) {
    #chessChat{
        left: 19.7%;
    }
}

@media screen and (min-width: 900px) {
    #chessChat{
        left: 20%;
    }
}


#chatList{
    margin: 0 auto;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    transition: all 0.2s;
    background-color: rgb(224, 224, 224);
    overflow: auto;
}

#chatList::-webkit-scrollbar{
    background-color: rgb(224, 224, 224);
}

#chatList::-webkit-scrollbar-thumb{
    background-color: rgb(57, 57, 57);
    border-radius: 4px;
}

#chatList::-webkit-scrollbar-track{
    background-color: rgb(196, 196, 196);
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    border-radius: 4px;
}

#chatInsert{
    margin: 10px auto;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    position: relative;
}

#chatInsert input[type=text]{
    width: 98%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0);
    text-indent: 10px;
    display: block;
    border: none;
}

.chatBlock{
    margin: 2px 5% 2px;
    padding: 5px 0px;
    width: 90%;
    line-height: 20px;
    height: auto;
    clear: both;
    word-wrap: break-word;
    display: inline-block;
    font-size: 11px;
    border-bottom: 1px solid black;
}

.chatBlock > div{
    float: left;
    word-break: break-all;
    word-wrap: break-word;
}

.chatName{
    width: 20%;
    cursor: pointer;
}

.chatCommend{
    width: 60%;
    text-indent: 10px;
}

.chatTime{
    width: 20%;
}
